<ion-view view-title="Photos">
    <ion-content>
        <div class="container">

            <div class="list card" ng-repeat="photo in photos" type="item-text-wrap" href="#/tab/photo/{{photo.id}}">

                <div class="item item-avatar">
                    <img src="avatar.jpg">
                    <h2>{{photo.username}}</h2>
                    <p></p>
                </div>

                <div class="item item-image">
                    <img ng-src="http://clouie.ca/{{photo.filepath}}"/>
                </div>

                <div class="item item-divider">
                    <img src="avatar.jpg">
                    <h2>{{photo.description}}</h2>
                    <p></p>
                </div>

                <div>
                    <p>{{photo.description}}</p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>


