<ion-view view-title="Login" name="login-view" class="pane">
    <ion-content class="padding">

        <div class="buffer-top">

        </div>
        <div class="buffer-top"></div>
        <div>
            <div class="buffer-left"></div>
            <div><h2 class="title">ePic</h2></div>
            <div></div>
        </div>


        <div class="buffer-top"></div>

        <!--</div>-->
        <!--<div class="list padding top">-->
            <!--<label class="item item-input">-->
                <!--<input class="text-color" type="text" placeholder="Email" ng-model="data.username">-->
            <!--</label>-->
            <!--</br>-->
            <!--<label class="item item-input">-->
                <!--<input type="text" placeholder="Password" ng-model="data.password">-->
            <!--</label>-->

        <!--</div>-->

        <!--<button class="button button-block button-energized" ng-click="signIn(user)">-->
            <!--Signup!-->
        <!--</button>-->

        <div class="row">

            <div class= "col">
                <button  class="button button-assertive button-block" ng-click="signIn(user)">
                    Local
                </button>
            </div>

            <div class= "col">
                <button class="button button-positive button-block">
                    Facebook
                </button>
            </div>


            <div class= "col">
                <button ng-click="instaSignin(user)" class="button button-energized button-block">
                    Instagram
                </button>
            </div>


            <!--<div class= "col">-->
                <!--<button class="button button-calm button-block">-->
                    <!--Twitter-->
                <!--</button>-->
            <!--</div>-->
        </div>

        <!--<div class="container">-->

            <!--<div class="jumbotron text-center">-->
                <!--<h1></h1>-->

                <!--<p>Login or Register with:</p>-->
                <!--<div class="row">-->
                <!--<div class="col">-->
                    <!--<button class="button button-stable button-block">-->
                        <!--Facebook-->
                    <!--</button>-->
                    <!--<!--<a href="/login" class="button button-calm button-block"><span class="fa fa-user"></span> Login</a>-->
                <!--</div>-->
                <!--<div class="col">-->
                    <!--<a href="/signup" class="button button-calm button-block"><span class="fa fa-user"></span> Signup</a>-->
                <!--</div>-->
                <!--<div class="col">-->
                    <!--<a href="/auth/instagram" class="button button-calm button-block"><span class="fa fa-instagram"></span> Instagram</a>-->
                <!--</div>-->
                <!--</div>-->
            <!--</div>-->

        <!--</div>-->
    </ion-content>
</ion-view>

