
<ion-view view-title="Create" class="dash-pane">

    <ion-nav-back-button></ion-nav-back-button>
    <ion-nav-buttons side="right">
      <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

  <ion-content>


      <div class="card">
        <div class="left">
        <div class="item item-body" type="item-text-wrap">
          <div>
            <h3>lkdjvzm,cn</h3></br>
          </div>
          <div class="left-buffer"></div>
          <div>
            <img ng-src="http://clouie.ca/uploads/four_1424265083572.jpg"/>
          </div>
          <p>{{photo.description}}</p>
        </div>
      </div>
    <div class = "right">
      <a id= "addPhotos" class="button button-icon icon ion-settings" href="#/tab/add/photo"></a>
      <br>

      <a class="button button-icon icon ion-plus-circled"></a>
      <br>

      <a class="button button-icon icon ion-wand"></a>
      <br>

      <a class="button button-icon icon ion-shuffle"></a>
      <br>

      <a class="button button-icon icon ion-compose"></a>
      <br>
    </div>
      <!--<button class="button icon ion-gear-a"></button><br>-->
      <!--<br>-->
      <!--<button class="button icon ion-ios-shuffle"></button><br>-->
      <!--<br>-->
      <!--<button class="button icon ion-gear-a"></button><br>-->
      <!--<br>-->
      <!--<button class="button icon ion-gear-a"></button><br>-->
    </div>

  </ion-content>
</ion-view>
