<ion-view view-title="Photos">
  <ion-content>
    <ion-list>
      <ion-item class="item-avatar" ng-repeat="photo in photos" type="item-text-wrap" href="#/tab/photos/{{photo.id}}">
        <img ng-src="{{photo.filepath}}">
        <p>{{photo.description}}</p>
      </ion-item>
    </ion-list>
    <!--<ion-list>-->
      <!--<ion-item class="item-toggle">-->
        <!--Enable Friends-->
        <!--<label class="toggle">-->
          <!--<input type="checkbox" ng-model="settings.enableFriends">-->
          <!--<div class="track">-->
            <!--<div class="handle"></div>-->
          <!--</div>-->
        <!--</label>-->
      <!--</ion-item>-->
    <!--</ion-list>-->
  </ion-content>
</ion-view>
