<ion-view view-title="Photos">
  <ion-content>
    <div class="list card">
      <ion-item class="item item-body" ng-repeat="photo in photos" type="item-text-wrap" href="#/tab/photos/{{photo.id}}">
        <div>

         <h3>{{photo.album_id}}</h3></br>
        </div>
        <!--<div class="left-buffer"></div>-->
        <div>
          <img ng-src="http://clouie.ca/{{photo.filepath}}"/>
        </div>
        <p>{{photo.description}}</p>
      </ion-item>
      <!--<div class="card-buffer"></div>-->

    </div>

    <!--</ion-list>-->
    <!--<ion-list>-->
      <!--<ion-item class="item-toggle">-->
        <!--Enable Friends-->
        <!--<label class="toggle">-->
          <!--<input type="checkbox" ng-model="settings.enableFriends">-->
          <!--<div class="track">-->
            <!--<div class="handle"></div>-->
          <!--</div>-->
        <!--</label>-->
      <!--</ion-item>-->
    <!--</ion-list>-->
  </ion-content>
</ion-view>
